---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import BrandLogos from "../components/BrandLogos.astro";
import Services from "../components/Services.astro";
import Stats from "../components/Stats.astro";
import Portfolio from "../components/Portfolio.astro";
import Testimonials from "../components/Testimonials.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Aquorix.digital | Creative Web Design & Development Agency">
  <Navbar />
  <main>
    <Hero />
    <BrandLogos />
    <Services />
    <Stats />
    <Portfolio />
    <Testimonials />
    <CTA
      tagline="Start a conversation"
      heading={`Let's create <br /> <span class="text-white/40 italic">something impactful.</span>`}
    />
  </main>
  <Footer />
</Layout>

<style>
  main {
    width: 100%;
    overflow-x: hidden;
  }
</style>
